
#discount-message > p {
  color: white;
  text-align: center;
  border-bottom: 10px solid black;
  padding: 0.4%;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #7ed957;
  font-family: sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 6px 16px;
  background-color: inherit;
  font-family: sans-serif;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
  background-color: rgb(208, 246, 35);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #7ed957;
}

.show {
  display: block;
}

.search-menu {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  padding-left: 0.7em;
}

.logo {
  width: 9%;
}

.logo > img {
  max-width: 100%;
}

.search-bar {
  display: flex;
  width: 70%;
}

.search-bar > input[type="text"] {
  margin: 0;
  flex: 1;
  padding: 0.7em;

  height: 80%;
  display: block;
  border-radius: 30px;
  border-color: rgba(3, 121, 3, 0.2);
  background: rgb(230, 248, 230);
  display: block;
  width: 30%;
  align-self: center;
}

.icons {
  display: inline-block;
  text-decoration: none;
  color: #284C13;
  align-items: center;
  display: flex;
  padding-right: 1em;
}

.icons > i {
  padding-right: 0.2em;
}
.material-icons:hover{
  opacity: 0.7;
  cursor: pointer;
}

.picture-class {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.main-picture {
  width: 93%;
  height: auto;
}

.horizontal-scroll-wrappersquares {
  align-items: flex-start;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin: 1rem 0;
  overflow-x: scroll;
  padding: 0 0 0 1rem;
  scroll-padding-left: 1rem;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  margin-left: 2em;
  margin-right: 2em;
}

.horizontal-scroll-wrappersquares::-webkit-scrollbar {
  display: none;
}

.horizontal-scroll-wrappersquares > li {
  padding: 1rem 1rem 0 0;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.box-categories {
  border: 5px solid greenyellow;
  border-radius: 30px;
  padding: 5px 20px 5px 20px;
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  font-family: sans-serif;
  transition: all 1s;
  background-color: #f5f5f5;
  border-color: rgba(9, 181, 9, 0.234);
  border-width: 1px;
  box-shadow: 5px 5px #a5a1a17a;
}
.box-categories:hover {
  transform: scale(1.1);
}

#box-clearance {
  background-image: url(./Assets/Clearance.png);
  background-size: contain;
  border-radius: 30px;
  writing-mode: horizontal-tb;
  border-color: #c11e02;
  box-shadow: 5px 5px #a5a1a17a;
  border-width: unset;
}

.box-categories > h3 {
  color: white;
  margin: 15px;
}

h4 {
  color: #4b691f;
  position: relative;
  text-shadow: 2px 2px 10px #4b691fe8;
  padding-top: 10px;
}

.box-categories > img {
  align-items: center;
  position: relative;
  margin: 30px 30px 30px 30px;
  height: 100px;
  width: 100px;
}

#helmglasses {
  size: 30%;
  margin: unset;
}

#accessories {
  size: 30%;
  margin: unset;
}

.footer {
  background-color: #194d04;
  position: relative;
  color: white;
  font-size: 12px;
  font-family: sans-serif;
}

.footer-logo {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 5px;
  justify-items: center;

  padding: 2em 1em 2em 1em;
}

.footer-logo > div:nth-child(1) {
  margin-right: auto;
}

.footer-logo > div:nth-child(2) {
  grid-column-start: 2;
}

.footer-logo > div:nth-child(3) {
  margin-left: auto;
  align-items: center;
}

.logo2 > img {
  height: 4em;
  width: 4em;
}

.foot-container {
  display: flex;
  justify-content: space-around;
  padding-right: 30px;
}

@media (max-width: 800px) {
  .foot-container {
    flex-direction: column;
  }
  .foot-container > div {
    padding-top: 2em;
  }
}

.foot-container > div {
  padding-left: 7em;
}
.footer-content {
  justify-content: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-bottom {
  color: rgba(201, 195, 195, 0.724);
  height: 2rem;
  text-align: center;
  position: relative;
  padding-top: 3px;
  padding-bottom: 2px;
  left: 0px;
  font: 12px bold;
  font-family: sans-serif;
}

.foot-container h3 {
  margin-bottom: 0.3em;
}

.fa {
  padding: 10px;
  font-size: 50px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 60%;
}
.fa:hover {
  opacity: 0.7;
}

.communication {
  display: flex;
  flex-wrap: wrap;
}

.communication > a {
  background: white;
  color: #194d04;
  margin-left: 1em;
}

.footer-list {
  margin-top: 1em;
  color: rgba(201, 195, 195, 0.724);
}

.link-hover:hover {
  opacity: 0.5;
  overflow: hidden;
  cursor: pointer;
}

